deepseek:
  apiKey : <api key>
  url:     <api address>
  model:   <api-model>
  prefix:  <redis key prefix> (deepseek)

siliconflow:
  apiKey : <api key>
  url:     <api address>
  model:   <api-model>
  prefix:  <redis key prefix> (siliconflow)
